
        <H2>Your cart</H2>
        
        <div>

            <% if @cart.empty? %>
                <p>Your cart is empty.</p>
            <% else %>
                <table border=1 style="border-collapse: collapse;">

                    <tr><th>Remove</th><th>Item</th><th>Description</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

                    <% total = 0.0 %><!-- in euro -->
                    <% deliveryCost = 5.0 %><!-- in euro -->
                    <% tax = 20.0 %><!-- in percent -->

                    <% @cart.each do | id, quantity | %>

                        <% product = Product.find_by_id(id) %>

                        <tr>
                            <td style="text-align:center">
                                <%= link_to 'X', :controller => :cart, :action => :remove, id: id  %>
                            </td>
                            <td style="text-align:center">
                                <%= image_tag product.image.url(:thumb) %>
                                <br />
                                <%= link_to product.name, product %>
                            </td>
                            <td><%= product.description %></td>
                            <td style="text-align:center">€<%= product.price %></td>
                            <td style="text-align:center">
                                <input type="number" size="2" id="product-id-<%= id %>" value="<%= quantity %>" />
                                <a href="#" onclick="this.href='cart/change/'+<%= id %>+'/'+document.getElementById('product-id-<%= id %>').value;return (document.getElementById('product-id-<%= id %>').value != '');"><b>&#x21bb;</b></a>
                            </td>
                            <td style="text-align:center">
                                <% subTotal = quantity * product.price %>
                                €<%= subTotal %>
                            </td>
                        </tr>

                        <% total= total + subTotal %>                
                    <% end %>

                    <tr>
                        <td colspan=5 style="text-align:right">Delivery</td>
                        <td style="text-align:center">€<%= deliveryCost.round(2) %></td>
                    </tr>

                    <tr>
                        <% totalWithoutTax = total + deliveryCost %>
                        <td colspan=5 style="text-align:right">Total without tax</td>
                        <td style="text-align:center">€<%= totalWithoutTax.round(2) %></td>
                    </tr>

                    <tr>
                        <% totalWithTax = totalWithoutTax * (100.0 + tax) /100.0 %>
                        <td colspan=5 style="text-align:right">Total with tax(<%= tax.round(2) %>%)</td>
                        <td  style="text-align:center">€<%= totalWithTax.round(2) %></td>
                    </tr>

                </table>

                <p style="text-align:center">
                    <%= link_to 'Empty your cart!', cart_empty_path, class: "yellow-button" %>
                    <%= link_to 'Checkout',  new_charge_path, class: "yellow-button" %>
                </p>
            <% end %>
        </div>
